@model List<MVCVideoVerhuur.Models.Genre>

<ul class="list-inline">
    @foreach(var genre in Model)
    {
        <li class="btn-link">
            @Html.ActionLink(genre.Naam, "Verhuren", new { id = genre.GenreNr })
        </li>
    }
</ul>
