@{
    ViewBag.Title = "Home Page";
}
@if (Session["klant"] != null)
{
<h2>
    @Html.ActionLink("Ga naar verhuringen","Verhuren","Home")
</h2>
}
else
{
    if(ViewBag.fout!=null)
    {
        <h1>@Html.ActionLink("Foutieve gegevens,probeer opnieuw","Index")</h1>
    }
    else
    {
    <form class="">
        <div class="form-group">
            <label class="col-md-2 control-label">Naam</label>
            <div class="col-md-10 col-md-offset-1">
                <input name="Naam" id="naam" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Postcode</label>
            <div class="col-md-10 col-md-offset-1">
                <input name="Postcode" id="Postcode" type="text" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Aanmelden" class="btn" />
    </form>
    }
}
